<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
    <meta name="description" content="{% if description %}{{ description }}{% else %}Your site description{% endif %}" />
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>Salon Fryzjerski</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/assets/js/navigation.js" defer></script>
  </head>
  <body class="p-8 h-full lg:h-screen">
    {% include 'navigation.njk' %}
    {{ content | safe }}
  </body>
</html>