---
layout: default
title: "Kontakt"
---
<main class="my-4 h-screen">
  <div class="flex">
    <div class="basis-1/5">
      <div class="h-[100px] w-[350px] bg-accent flex items-end justify-start p-4">
        <p class="text-primar-black font-bold text-2xl">KONTAKT</p>
      </div>
      </div>
      <div class="w-[200px] h-full">
        {% svgIcon 'comb_icon.svg' %}
      </div>
  </div>
</main>